// colors
$primary-color-purple-dark: #2A1F3F;
$primary-color-purple-default:#493675;
$primary-color-purple-light: #A399B8;

$secondary-color: #EED1D6;
$secondary-color-dark: #FF4554;

$color-blue-link: #0A5EA8;

$color-white: #FFFFFF;
$color-black: #000000;

$color-neutral: #F5F6FA;
$color-neutral-dark: #E3E1E9;

//grid
$grid-width: 124rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 2rem;

//font-size

$default-font-size: 1.6rem;
$large-font-size: 2.8rem;
$small-font-size: 1.4rem;
$xsmall-font-size: 1.2rem;

// font-weight 

$font-weight-normal: 400;
$font-weight-bold: 700;


//border-radius 

$default-border-radius: .4rem;


$w-l: 1440px; // laptop - desktop big
$w-m: 1024px; // laptop - desktop small
$w-m-s: 970px; //laptop - tablet 
$w-s: 769px;  // tablet
$w-xs: 550px; // phone